@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Poppins:wght@100;300;400;500;600&family=Roboto:wght@300&family=Source+Sans+Pro&display=swap');

:root{
	
	--box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
	--border:.2rem solid rgba(0,0,0,.1);
	--outline: .1rem solid rgba(0,0,0,.1);
	--outline-hover:.2rem solid var(--black);
}


.review .review-slider{
	display:flex;
	flex-direction:row;
	padding:1rem 4rem;
}

.review .review-slider .box{
	background: #fff;
	border-radius:.5rem;
	text-align:center;
	padding:2rem 3rem;
	outline-offset:-1rem;
	outline:var(--outline);
	box-shadow:var(--box-shadow);
	transition:.2s linear;
	margin:1rem;
	width:40%;
}

.review .review-slider .box:hover{
	outline:var(--outline-hover);
	outline-offset:0rem;
}

.review .review-slider .box img{
	height:10rem;
	width:10rem;
	border-radius:50%;
}

.review .review-slider .box p{
	padding:1rem 0;
	line-height:1.8;
	color:var(--light-color);
	font-size:1.5rem;
}

.review .review-slider .box h3{
	padding:.5rem;
	color:var(--black);
	font-size:2.2rem;
}

.review .review-slider .box .stars img{
	height:2rem;
	width:2rem;
}

@media screen and (max-width: 580px) {
  

  .review .review-slider{
    display:flex;
    flex-direction:column;
    gap:2px;
}
}